<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>
    <body>
        <h1>Create Page</h1>
        <h3>Welcome to: create a user page</h3>
        <h4>Here you can create your own user</h4>

        <!--  Editing Form     -->
        <form action="/new" method="post">
            <label>Name: </label> <label>  <input class="infield" type="text" name="name" value="" />
            </label> <br>
            <label>Hero: </label> <label> <input class="infield" type="text" name="hero" value="" />
            </label> <br>
            <label>Address: </label> <label> <input class="infield" type="text" name="address" value="" />
            </label> <br>

            <input type="submit" id="mbutton" value="Create new User" formtarget="_blank">
            <br>
            <button type="button" onclick="window.location.href='http://localhost:5000/users'">Return to Users List</button>
            <button type="button" onclick="window.location.href='http://localhost:5000'">Home</button>
        </form>
    </body>
</html>

