<!-- homepage with links to the users -->

<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Homepage</title>
            <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        </head>
        <body>
            <nav>
                <a href="http://localhost:5000/users">Users</a>
                <a href="http://localhost:5000/new">Create a new user</a>
            </nav>
            <div class="header">
                <h1 id="home">Home</h1>
            <h3>This Website was build by:</h3>
            </div>
            <div class="left">
                <figure>
                    <figcaption> <b>Alexander Berger</b>
                        <p>ID: 51902902 </p>
                    </figcaption>
                    <img src="Pictures/Alexander.png" height="300" width="300" alt="Portrait">
                </figure>
                <figure>
                    <figcaption> <b>Maximilian Knapp</b>
                        <p>ID: 52302498 </p>
                    </figcaption>
                    <img src="Pictures/Maximilian.jpeg" height="300" width="300" alt="Portrait">
                </figure>
            </div>
            <div class="left">
                <figure>
                    <figcaption> <b>Christian Hummel</b>
                        <p>ID: 01405505 </p>
                    </figcaption>
                    <img src="Pictures/Christian.bmp" height="300" width="300" alt="Portrait">
                </figure>
                <figure>
                    <figcaption> <b>Lisa-Maria Hollaus </b>
                        <p>ID: 52302459 </p>
                    </figcaption>
                    <img src="Pictures/Lisa-Maria.jpg" height="300" width="300" alt="Portrait">
                </figure>
            </div>

        <div class="title">
            <h3 id="subtitle">Here is what you can do:</h3>
            <button type="button" onclick="window.location.href='http://localhost:5000/users'">Show all users</button>
            <button type="button" onclick="window.location.href='http://localhost:5000/new'">Create a new user</button>
        </div>

        </body>
    </html>